{% extends "base/subpage.html" %}

{% block subheading %}About Us{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}aboutus.html">About Us</a></li>

{% endblock %}

{% block content %}


<div class="container">

    <div class="row spacer20"></div>

            <p>
<strong>About the CEO:</strong>
  <p>My wife Tammy and I have enjoyed exploring 49 of the 50 states in the USA as well as several countries throughout the world, with more upcoming! My wife's specialty is <em>English as a Second Language</em> and I have a PhD in <em>Intercultural Studies</em>. We are both amateur musicians and are enjoying our grandchildren.</p>

  <p>Over the years we have acquired investments in various places that we, tourists, and long-stay clients can enjoy. We have lived not only throughout the USA, but in Central America, Southeast Asia, and the Middle East as well.</p>
            </p>
            <p>
<strong>Why We Chose These Properties:</strong> When we are looking for locations in which to invest, we think about the things that enjoyable to us and that would be attractive to other guests. For us that often means finding places near water and-or attractions. Our properties have spectacular lake /creek / or bay views. Some are near boating, swimming, and other outdoor experiences, besides various tourist locations.
            </p>

</div>
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/randytammywelcome.jpg" alt="">
        </div>


{% endblock %}
