

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/1rivercrossing.jpeg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/2nicamountain.jpeg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/3sunrisebalcony.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/4hotelpool.jpeg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/5parrots.jpeg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/6rtwaterfall.jpeg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/7creekside.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/8blockwall.jpeg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/9bonfire.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/10mistybalcony.jpg" data-fullwidthcentering="on">
</li>
