

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/1Palmpond.jpg" data-fullwidthcentering="on">
</li>


<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">RT</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Las</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Palmas</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/2Tuscankitchen.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/3sunrisebalcony.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/4lowerkitchen.jpg" data-fullwidthcentering="on">
</li>


<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">RT</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Las</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Palmas</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/5bayview.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/6vaultedlivingareas.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/7creekside.jpg" data-fullwidthcentering="on">
</li>


<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">RT</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Las</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Palmas</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/8upperkitchen.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/9bonfire.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/10mistybalcony.jpg" data-fullwidthcentering="on">
</li>


<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">RT</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Las</div>

    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Palmas</div>
</li>


<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/11Vincindakitchen.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/12downtown.jpg" data-fullwidthcentering="on">
</li>
<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/13palmview.jpg" data-fullwidthcentering="on">
</li>
